:root {
    --primary-color: orange;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.card-link {

}
.card {

}
.card-category {

}
.card-title {

}
.card-description {

}
.card-post-info {

}
.card-avatar {

}
.card-author {

}
.card-date {

}
.card-container {
border: 1px solid #000;
max-width: 1200px;
width: 90%;
display: grid;
margin: 2rem;
background-color: var(--primary-color);
}
.card-img {

}
.card-body {

}